<div class="row py-3">

    <div class="col-4">

        <div class="row justify-content-center">
            {{!-- <img class="maxHeight240 m-auto" src="/models/png/{{model.png}}" alt=""> --}}
            <div id="playerPreview"></div>

        </div>
        <div class="row justify-content-center">
            <button id="back" type="button" class="btn btn-primary btn-standard">-</button>
            <button id="next" type="button" class="btn btn-primary btn-standard">+</button>
        </div>
    </div>

    <div class="col-4">
        <div id="gameId" class="d-none">{{id}}</div>
        <div class="row">Type: {{type}}</div>
        <div class="row pt-3">
            {{description}}
            <hr class="py-2">
            <dl class="row">
                <dt class="col-sm-5 text-primary">Stat</dt>
                <dd class="col-sm-7 text-primary">cur/max/boost</dd>
                {{#each attributes.stats}}
                <dt class="col-sm-5">{{@key}}</dt>
                <dd class="col-sm-7">{{this}}</dd>
                {{/each}}
            </dl>
            
            {{#each inventory}}
                
            {{/each}}

            {{#each equipped}}

            {{/each}}

        </div>

    </div>
    <div class="col-4">
        <form>
            <div class="row">
               <div class="col-6 px-0"><label for="name">Name:</label></div>
               <div class="col-3 px-0"><label for="height">Height:</label></div>
            </div>
            <div class="row">
               <input type="text" class="form-control col-6" name="name" id="name" placeholder="Name..." value="New">
               <input type="number" class="form-control col-4" name="height" id="height" placeholder="20" step="1" min="18" max="99" value="20">
            </div>

            <div class="row">
                <div class="col m-auto">
                <button id="newGame" type="submit" class="btn btn-primary btn-wide mt-2 mb-1">New Game</button>
                {{#if id}}<button id="loadGame" type="submit" class="btn btn-primary btn-wide my-1">Load Game</button>{{/if}}
                <button id="joinGame" type="submit" class="btn btn-primary btn-wide my-1">Join Game</button>
                {{#if id}}<button type="submit" class="deleteChar btn btn-danger btn-wide my-1">Delete</button>{{/if}}

                </div>
            </div>
        </form>
    </div>

</div>


