    <div class="col">

        <div class="row">
            <div id="speech" class="col-12">{{#if tempSpeech}}{{tempSpeech}}{{else}}{{speech}}{{/if}}</div>
        </div>
        <hr class="m-2">
        
        <div class="row">
            
            <div class="col-4 px-2" id="playerPreview">
            </div>
            {{#if wares}}
            <div class="col-4 px-2">
                <div class="row mx-1">
                    <div class="col-5 pl-1"><h4>Wares:</h4></div>
                </div>
                
                <div class="row mx-1">

                        {{#each inventory}}
                        <div class="tallCard col-xs-1-12 p-1">
                            <div class="card-body tooltipper dragSpot" id={{index}}>
                                <img id="{{name}}" class="draggable" draggable="true" src="/models/png/{{image}}" quant="{{name}}quant" describedBy="{{name}}desc">
                                <span id="{{name}}desc" class="tooltippertext noClick">{{description}}</span>
                                <span id="{{name}}quant" class="noClick small">{{quantity}} for {{priceString}}</span>
                                <div class="row d-flex justify-content-center mx-0 px-0">
                                    <div class="col-6 mx-0 px-0"><button type="button" class="btn btn-secondary btn-sm changeTabItem" data-item="{{name}}:{{price}}" data-quantity="1"><i class="fas fa-plus noClick"></i></button></div>
                                    <div class="col-6 mx-0 px-0"><button type="button" class="btn btn-secondary btn-sm changeTabItem" data-item="{{name}}:{{price}}" data-quantity="-1"><i class="fas fa-minus noClick"></i></button></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    
                </div>
            </div>
            <div class="col-4 px-2">
                <div class="row mx-1">
                    <div class="col-4 pl-1"><h4>Wants:</h4></div>
                    <div class="col-8 d-flex justify-content-end pr-0">
                        <small>[{{goldExchange}} gold/gems]</small>
                    </div>
                </div>
                <div class="row mx-1">
                    
                        {{#each wants}}
                        <div class="tallCard col-xs-1-12 p-1">
                            <div class="card-body tooltipper dragSpot" id={{index}}>
                                <img src="/models/png/{{image}}" quant="{{name}}quant" describedBy="{{name}}desc">
                                <span id="{{name}}desc" class="tooltippertext noClick">{{description}}</span>
                                <span id="{{name}}quant" class="noClick small">{{quantity}}</span>
                                <div class="row d-flex justify-content-center mx-0 px-0">
                                    <div class="col-6 mx-0 px-0"><button type="button" class="btn btn-secondary btn-sm changePaymentItem" data-item="{{name}}:{{price}}" data-quantity="1"><i class="fas fa-plus noClick"></i></button></div>
                                    <div class="col-6 mx-0 px-0"><button type="button" class="btn btn-secondary btn-sm changePaymentItem" data-item="{{name}}:{{price}}" data-quantity="-1"><i class="fas fa-minus noClick"></i></button></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                </div>
            </div>
            {{/if}}
        </div>
        <hr class="m-2">
        <div class="row">
            {{#if wares}}
            <div class="col-4 px-2"></div>
            <div class="col-4 px-2">
                <div class="row mx-1">
                    <div class="col-5 pl-1"><h4>Tab:</h4></div>
                </div>
                <div class="row mx-1">
                    <div class="col-3">Items:</div> 
                    <div class="col-9">
                    {{#each tab.items}}
                        <div class="row"><b>{{@key}}</b>: {{this}}</div>
                    {{/each}}
                    </div>
                </div>
                <div class="row mx-1">
                    <div class="col-3">Cost:</div>
                    <div class="col-9">
                        {{#each tab.totalPrice}}
                            <div class="row"><b>{{@key}}</b>: {{this}}</div>
                        {{/each}}
                    </div> 
                </div>
            </div>
            <div class="col-4 px-2">
                <div class="row mx-1">
                    <div class="col-4 pl-1"><h4>Pay:</h4></div>
                    <div class="col-8">
                        <button type="button" class="btn btn-secondary btn-sm matchTab">Match</button>
                        <button type="button" id="acceptDeal" class="btn btn-primary btn-sm acceptDeal {{#if acceptDisabled}}disabled{{/if}}">Accept</button>
                    </div>
                </div>
            
                <div class="row mx-1">
                    <div class="col-3">Offer:</div>
                    <div class="col-9">
                        {{#each payment}}
                            <div class="row"><b>{{@key}}</b>: {{this}}</div>
                        {{/each}}
                    </div> 
                </div>
            </div>
            {{/if}}
        </div>

        

        {{#each responses}}
        <div class="row">
            <div id="{{@index}}" class="{{type}} response col-8">
                {{text}}
            </div>
        </div>
        {{/each}}

    </div>
