<div class="row mx-0">

    <div class="col-8 px-0">
        <div class="row ml-0">
            {{#each this}}
            <div class="col-xs-1-12">
                <div class="card">
                <div class="card-body tooltipper dragSpot">
                        <img id="{{name}}" class="draggable" draggable="true" src="/models/png/{{image}}" alt="{{name}}alt">
                        <span id="{{name}}alt" class="tooltippertext">{{description}}</span>
                        {{quantity}}
                </div>
                </div>
            </div>
            {{/each}}

            
        </div>
    </div>

    <div class="col-4 charGrid">
        <div id="head" class="body one tooltipper dragSpot"></div>
        <div id="body" class="body two tooltipper dragSpot"></div>
        <div id="Middle2R_end" class="body three tooltipper dragSpot"></div>
        <div id="handL" class="body four tooltipper dragSpot"></div>
        <div id="special" class="body five tooltipper dragSpot"></div>
        <div id="feet" class="body six tooltipper dragSpot"></div>
    </div>


</div>

