<div class="row mx-0">

    <div class="col-8 p-1">
        <div class="row mx-0">
            {{#each inventory}}

            <div class="col-xs-1-12">
                <div class="card">
                <div class="card-body tooltipper dragSpot" id={{index}}>
                        {{#if name}}
                        <img id="{{name}}" class="draggable" draggable="true" src="/models/png/{{image}}" quant="{{name}}quant" describedBy="{{name}}desc">
                        <span id="{{name}}desc" class="tooltippertext">{{description}}</span>
                        <span id="{{name}}quant">{{quantity}}</span>

                        {{/if}}
                </div>
                </div>
            </div>
            {{/each}}

            
        </div>
    </div>

    <div class="col-4 charGrid p-1">
        <div id="head" class="body one tooltipper dragSpot"></div>
        <div id="body" class="body two tooltipper dragSpot"></div>
        <div id="Middle2R_end" class="body three tooltipper dragSpot">
            {{#if equipped.Middle2R_end}}
                <img id="{{equipped.Middle2R_end.name}}" class="draggable" draggable="true" src="/models/png/{{equipped.Middle2R_end.image}}" describedBy="{{equipped.Middle2R_end.name}}desc">
                <span id="{{equipped.Middle2R_end.name}}desc" class="tooltippertext">{{equipped.Middle2R_end.description}}</span>
            {{/if}}
        </div>
        <div id="Middle2L_end" class="body four tooltipper dragSpot">
            {{#if equipped.Middle2L_end}}
                <img id="{{equipped.Middle2L_end.name}}" class="draggable" draggable="true" src="/models/png/{{equipped.Middle2L_end.image}}" describedBy="{{equipped.Middle2L_end.name}}desc">
                <span id="{{equipped.Middle2L_end.name}}desc" class="tooltippertext">{{equipped.Middle2L_end.description}}</span>
            {{/if}}
        </div>
        <div id="special" class="body five tooltipper dragSpot"></div>
        <div id="feet" class="body six tooltipper dragSpot"></div>
        <div id="drop" class="seven dropOnly"></div>
    </div>


</div>

