<div class="hotkey position-relative">
    {{#if equipped.f1key}}
        <img id="{{equipped.f1key.name}}" src="/models/png/{{equipped.f1key.image}}">
    {{/if}}
    <div class="overlay noClick">1</div>
</div>
<div class="hotkey position-relative">
    {{#if equipped.f2key}}
        <img id="{{equipped.f2key.name}}" src="/models/png/{{equipped.f2key.image}}">
    {{/if}}
    <div class="overlay noClick">2</div>
</div>
<div class="hotkey position-relative">
    {{#if equipped.f3key}}
        <img id="{{equipped.f3key.name}}" src="/models/png/{{equipped.f3key.image}}">
    {{/if}}
    <div class="overlay noClick">3</div>
</div>
<div class="hotkey position-relative">
    {{#if equipped.f4key}}
        <img id="{{equipped.f4key.name}}" src="/models/png/{{equipped.f4key.image}}">
    {{/if}}
    <div class="overlay noClick">4</div>
</div>
<div class="hotkey position-relative">
    {{#if equipped.f5key}}
        <img id="{{equipped.f5key.name}}" src="/models/png/{{equipped.f5key.image}}">
    {{/if}}
    <div class="overlay noClick">5</div>
</div>
<div class="hotkey position-relative">
    {{#if equipped.f6key}}
        <img id="{{equipped.f6key.name}}" src="/models/png/{{equipped.f6key.image}}">
    {{/if}}
    <div class="overlay noClick">6</div>
</div>
<div class="hotkey position-relative">
    {{#if equipped.f7key}}
        <img id="{{equipped.f7key.name}}" src="/models/png/{{equipped.f7key.image}}">
    {{/if}}
    <div class="overlay noClick">7</div>
</div>
<div class="hotkey position-relative">
    {{#if equipped.f8key}}
        <img id="{{equipped.f8key.name}}" src="/models/png/{{equipped.f8key.image}}">
    {{/if}}
    <div class="overlay noClick">8</div>
</div>
